.row#agosto
    .col.s12.m12.l6
        .medium.card.teal.lighten-5
            .card-image
                img.center(src="https://static.nationalgeographic.es/files/styles/image_3200/public/columbus-ship-GettyImages-517331824.webp?w=1280&h=720")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 03 de Agosto: Cristobal Colón inicia el viaje en las tres carabelas
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Parte de España en 1492 con rumbo a Asia por dirección oeste; y sin saberlo, poco después arriba en América.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.biografiasyvidas.com/monografia/colon/") ver

    .col.s12.m12.l6
        .medium.card.teal.lighten-5
            .card-image
                img.center(src="https://i.pinimg.com/564x/23/ed/5a/23ed5a4f50d069a88894cfaad7d0b11f.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 08 de Agosto: Provincialización del Chaco
            .card-content
                p.parrafo-tarjeta (1951)El territorio del Chaco se convierte en una Provincia más de la República Argentina
            .card-action
                a.blue-text.text-darken-4(href="http://tramas.escueladegobierno.gob.ar/articulo/provincializacion-del-chaco/") ver

    .col.s12.m12.l6
        .medium.card.teal.lighten-5
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IBM_PC_5150.jpg/800px-IBM_PC_5150.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") IBM lanza al rccado la primera PC (Computador Personal)
            .card-content
                p.parrafo-tarjeta En 1981 la compañia IBM lanza la primera computadora de uso doméstico, herramienta que a día de hoy a cambiado nuesta forma de relacionarnos entre nosotros y con el mundo
            .card-action
                a.blue-text.text-darken-4(href="http://www.maestrosdelweb.com/la-historia-de-ibm/") ver
