<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="css/materialize.css" media="screen,projection")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title Biblioteca Escolar BP 163
    body
        include menu.pug
        .container  
            h3.red-text.text-lighten-3.titulo-galeria CATÁLOGO
            
            .col.s12.m8.offset-m2.l3.offset-l3
                .card-panel.grey.lighten-5.z-depth-2
                    .row.valign-wrapper
                        .col.s2 
                            img(src="https://sotaunaestrella.files.wordpress.com/2013/01/ruisec3b1or.jpg").responsive-img
                        .col.s10 
                             a(href="http://www.cervantesvirtual.com/nd/ark:/59851/bmctb1k6"): span.black-text.titulo-tarjeta Oscar Wilde - El ruiseñor y la rosa                                 

            .col.s12.m8.offset-m2.l3.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/9/6261.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/?t=1&d=6261"): span.black-text.titulo-tarjeta León Tolstoi - Cuentos

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2010/12/56.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=56"): span.black-text.titulo-tarjeta Hermanos Grimm - El dinero llovido del cielo

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="http://static-1.ivoox.com/audios/3/1/4/4/1631547514413_XXL.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=50"): span.black-text.titulo-tarjeta Hermanos Grimm - El agua de la vida

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2010/12/65.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=65"): span.black-text.titulo-tarjeta Hermanos Grimm - El hijo ingrato

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/8/202.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=202"): span.black-text.titulo-tarjeta Miguel Ángel Pérez Ordóñez - Cuentos de la Mar para Gabriel

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOxf_rf85-QagIS5TBEDY-JKhy7CKfN1qeDQ&usqp=CAU").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=313"): span.black-text.titulo-tarjeta Cuento tradicional africano "Kuakú Baboní"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/10/312.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=312"): span.black-text.titulo-tarjeta Cuento tradicional africano "Historia de Rabotity"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/11/323.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=323"): span.black-text.titulo-tarjeta Cuento tradicional africano "¿Porqué los monos no hablan?"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/11/324.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=324"): span.black-text.titulo-tarjeta Cuento tradicional africano "Seetetelané"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/7/328.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=328"): span.black-text.titulo-tarjeta Cuento tradiconal chino "Los cuatro dragones"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/7/327.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=327"): span.black-text.titulo-tarjeta Cuento tradicional chino "Li Bao y Cui Cui"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://www.ellibrototal.com/testLtotal/CARATULAS/libros/2011/7/337.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.ellibrototal.com/ltotal/ficha.jsp?idLibro=337"): span.black-text.titulo-tarjeta Cuento tradicional ruso "Anda no sé Adónde, Busca no sé Qué"

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://libreropdf.com/wp-content/uploads/2020/08/014-El-maravilloso-viaje-de-Nils-Holgersson-Selma-Lagerlof.jpg").responsive-img
                        .col.s10 
                            a(href="https://www.escuelarsa.cl/BIBLIOTECA/librospdf/EL%20MARAVILLOSO%20VIAJE%20DE%20NILS%20HOLGERSSON.pdf"): span.black-text.titulo-tarjeta Selma Lagerlöf - El maravilloso viaje de Nils Holgersson

            .col.s12.m12.offset-m2.l6.offset-l3 
                .card-panel.grey.lighten-5.z-depth-2 
                    .row.valign-wrapper 
                        .col.s2 
                            img(src="https://4.bp.blogspot.com/-fW4_PqZVzSc/V-wrY1sEIsI/AAAAAAAACZ4/YHeHWaFMStQnTQ7R285d5x89TwEIm8PkwCLcB/s1600/Ni%25C3%25B1aNieve-Ucrania.jpg").responsive-img
                        .col.s10 
                            a(href="https://ciudadseva.com/texto/nina-de-nieve/"): span.black-text.titulo-tarjeta Cuento tradicional ruso "Nievecita"


            blockquote.flow-text.blue.lighten-5.pie-catalogo Las obras ofrecidas en este catálogo corresponden a las colecciones de: <br/>- Biblioteca Virtual Miguel de Cervantes (http://www.cervantesvirtual.com/). <br/> - El Libro Total: Biblioteca digital gratuita de libros clásicos (https://www.ellibrototal.com/ltotal/). <br/> Nuestra institución reconoce y agradece la gran labor de sus responsables y colaboradores.
        include footer.pug
        script document.addEventListener('DOMContentLoaded', function () {M.AutoInit();});
        script(src="js/javascript.js")
        script(src="js/materialize.min.js")
