.row#enero

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://economipedia.com/wp-content/uploads/Organizaci%C3%B3n-Mundial-del-Comercio-OMC-WTC.jpg")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 01 de Enero: 
                                | Creación de la OMC
                        
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta En 1995 se crea la Organización Mundial de Comercio, entidad que  se ocupa de las normas mundiales por las que se rige el comercio entre las naciones.
                            .card-action
                                a.blue-text.text-darken-4(href="https://www.wto.org/indexsp.htm") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://www.efemeridesargentina.com.ar/efemeridesargentina/imagenes/fotos/3011.jpg")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 02 de Enero: Inglaterra invade las islas Malvinas
                        
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta En 1833 Inglaterra toma por la furza las Islas Malvinas, luego de la rendición del General Pinedo, quien regia la isla hasta ese momento.
                            .card-action
                                a.blue-text.text-darken-4(href="https://www.iri.edu.ar/publicaciones_iri/anuario/A94/A1MVCRO.html") ver
                                    
                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://lasillarotarm.blob.core.windows.net/images/2020/06/13/aprendesistemabrailletallergratuito-focus-0.46-0.02-983-557.jpg")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 04 de Enero: Día Mundial del Braille
                        
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta Declarado en 2019 por la ONU, pretende crear mayor conciencia sobre la importancia del braille como medio de comunicación para la plena realización de los derechos humanos de las personas ciegas y con deficiencia visual.
                            .card-action
                                a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-mundial-braille") ver  
                                a.blue-text.text-darken-4(href="https://www.educapeques.com/lectura-para-ninos/inventos-y-descubrimientos/inventos-y-descubrimientos-el-sistema-braille.html") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://lh5.ggpht.com/_GGKivjrVlbg/SnABZzFNiuI/AAAAAAAAAM8/njnKBqbGQyw/Partido%20Nacional%20Socialista%20Alem%C3%A1n%20de%20los%20Trabajadores_thumb%5B2%5D.gif?imgmax=800")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 05 de Enero: Fundación del partido NAZI
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta En 1919 Adolfo Hitler funda en Alemania el Partido Nacionalista Obrero Aleman.
                            .card-action
                                a.blue-text.text-darken-4(href="https://encyclopedia.ushmm.org/content/es/article/nazi-rule") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqlws3E6uxA5FacY2AyWZh0qelVg9ApxhJLQ&usqp=CAU")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 06 de Enero: Reyes Magos
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta Celebración cristiana que conmemora la epifanía o "Día de Reyes".
                            .card-action
                                a.blue-text.text-darken-4(href="https://es.catholic.net/op/articulos/12382/cat/734/-fiesta-de-la-epifania-o-dia-de-reyes.html#modal") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://upload.wikimedia.org/wikipedia/commons/1/15/El_cruce_de_los_Andes_por_el_Gral._San_Mart%C3%ADn.JPG")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 14 de Enero: Culmina el cruze de los Andes
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta En 1820, San Martín y sus tropas llega a Chile luego de atravesar la Cordillera de los Andes.
                            .card-action
                                a.blue-text.text-darken-4(href="https://www.google.com.ar/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwijrr7g8r7uAhVJILkGHeuuB_k4FBAWMAB6BAgCEAI&url=http%3A%2F%2Fwww.bnm.me.gov.ar%2Fgiga1%2Fdocumentos%2FEL005620.pdf&usg=AOvVaw0_CrfKWEoC5k8hw0Or36QR") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://static.guiainfantil.com/media/12885/c/razones-de-peso-para-ensenar-educacion-ambiental-a-los-ninos-en-clase-lg.jpg")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 26 de Enero: Día Mundial de la Educación Ambiental
                        
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta La educación ambiental viene a crear conciencia en todas las personas sobre la importancia de cuidar el medio ambiente, de proteger la flora y la fauna de sus localidades y sumarse a las iniciativas mundiales.
                            .card-action
                                a.blue-text.text-darken-4(href="https://www.unescoetxea.org/ext/manual/html/fundamentos.html") ver  
                                a.blue-text.text-darken-4(href="https://www.vidasilvestre.org.ar/nuestro_trabajo/que_hacemos/nuestra_solucion/cambiar_forma_vivimos/educacion_ambiental/") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://realpolitik.com.ar/uploads/noticias/1/20180125151415_campos_de_concentracion_nazi.jpg")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 27 de Enero: Día Internacional de Conmemoración de las Víctimas del Holocausto
                        
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta Seis millones de hombres, mujeres y niños judíos perecieron en el Holocausto. 
                            .card-action
                                a.blue-text.text-darken-4(href="https://encyclopedia.ushmm.org/content/es/article/introduction-to-the-holocaust") ver  
                                a.blue-text.text-darken-4(href="http://congresojudio.org/novedades_nota.php?id=143") ver

                .col.s12.m12.l6
                    .medium.card.green.lighten-3
                        .card-image
                            img.center(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbvC7jDpDnonEZzfhYWBJ3uDyDd0WARG7YWw&usqp=CAU" alt="imagen, día mundial contra la lepra")
                            span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") Último domingo de Enero: Día Mundial Contra la Lepra
                        
                        .card-stacked
                            .card-content
                                p.parrafo-tarjeta El último domingo del mes de enero se celebra el Día Mundial contra la Lepra con el objetivo de concienciar a la sociedad sobre esta enfermedad y reducir el estigma que sufren las personas que la padecen.
                            .card-action
                                a.blue-text.text-darken-4(href="https://www.who.int/topics/leprosy/es/") ver  
                                a.blue-text.text-darken-4(href="https://www.paho.org/es/temas/lepra") ver
