.row#febrero
    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/1/15/Asamblea_del_a%C3%B1o_XIII.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 02 de Febrero: Asamblea del año XIII
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1813 se realiza la Asamblea Nacional Constituyente que declara la libertad de los hijos de esclavos nacidos después de dicho año.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.elhistoriador.com.ar/la-asamblea-del-ano-xiii-y-la-libertad-de-los-iguales/") ver
                    a.blue-text.text-darken-4(href="http://www.bnm.me.gov.ar/e-recursos/recursos_didacticos/portafolios/asamblea_xiii/presentacion.htm") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://resistencia.gob.ar/img/2020/04/resistencia-chaco.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 02 de Febrero: Fundación de la Ciudad de Resistencia
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1878 se funda la ciudad capital de la Provincia del Chaco.
                .card-action
                    a.blue-text.text-darken-4(href="https://resistencia.gob.ar/historia-de-resistencia/#:~:text=Fue%20fundada%20en%201878%20por,la%20colonizaci%C3%B3n%20del%20resto%20del") ver
                    


    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://ep00.epimg.net/elpais/imagenes/2016/06/05/ciencia/1465162162_095054_1465163694_noticia_normal.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 04 de Febrero: Día Mundial contra el Cáncer
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Es una enfermedad que hace que un grupo de células del organismo crezcan de manera anómala e incontrolada dando lugar a un bulto o masa. Cada año se diagnostican en el mundo más de 14 millones de casos nuevos y la enfermedad provoca 9,6 millones de muertes al año.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-mundial-cancer") ver
                    a.blue-text.text-darken-4(href="https://seom.org/informacion-sobre-el-cancer/que-es-el-cancer-y-como-se-desarrolla#:~:text=El%20t%C3%A9rmino%20c%C3%A1ncer%20engloba%20un,un%20periodo%20de%20tiempo%20programado.") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://i.pinimg.com/originals/5c/89/5f/5c895f1e45cff5363dee332f9b897c36.png")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 2 días antes del miércoles de ceniza: Carnaval
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El carnaval es una celebración pública que tiene lugar inmediatamente antes de la cuaresma cristiana. Mayormente se celebran 3 días de carnaval.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.guiainfantil.com/articulos/celebraciones/carnaval/la-historia-del-carnaval-para-los-ninos/") ver
                    a.blue-text.text-darken-4(href="https://historia.nationalgeographic.com.es/a/origenes-carnaval_8018") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://historiamoron.files.wordpress.com/2016/08/ley-saenz-pec3b1a.jpg?w=900")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 10 de febrero: Se sanciona la ley Saenz Peña
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1912 se sanciona la ley 8.871 que establece el voto universal, secreto y obligatorio, así como el sistema de lista incompleta.
                .card-action
                    a.blue-text.text-darken-4(href="https://enciclopediadehistoria.com/ley-saenz-pena/") ver
                    a.blue-text.text-darken-4(href="https://repositorio.uca.edu.ar/bitstream/123456789/2667/1/ley-saenz-pena-cuestion-familia.pdf") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://i.blogs.es/6f5f51/istock-468446827/450_1000.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 12 de Febrero: Día Mundial contra el Uso de Niños Soldado
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Por los niños que han sido usados por grupos armados en distintos países, para formar parte de conflictos brutales, que les han traído como consecuencia daños físicos y psicológicos irreversibles y en el peor de los casos, la pérdida de sus propias vidas.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.humanium.org/es/enfoques-tematicos/violencia/ninos-soldado/") ver
                    a.blue-text.text-darken-4(href="https://www.un.org/es/chronicle/article/prevenir-el-uso-de-ninos-soldados-prevenir-el-genocidio") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://i.pinimg.com/originals/ef/ca/44/efca44b5957b4f0b68149a5cf53a4480.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 12 de Febrero: Muerte de Julio Cortazar
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 1984 Muere en París, Francia, Julio Cortázar, autor de obras como Los Reyes, Bestiario, Final de juego, Los premios, Rayuela, 62/Modelo para armar y El libro de Manuel.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.cervantes.es/bibliotecas_documentacion_espanol/creadores/cortazar_julio.htm") ver
                    a.blue-text.text-darken-4(href="https://www.escritores.org/biografias/403-julio-cortazar") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://i.blogs.es/c5ffe4/guglielmo_marconi_1901_wireless_signal/450_1000.jpg", style="object-fit: cover;")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 13 de Febrero: Día Mundial de la Radio
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Luego de una conferencia general de la UNESCO se estableción este día para recordar la creación de la radio, uno de los medios de difusión más antigüos que perdura hasta nuestros días.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.unesco.org/new/es/unesco/events/prizes-and-celebrations/celebrations/international-days/world-radio-day-2012/some-important-dates/") ver


    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://www.diainternacionalde.com/imagenes/dias/02-14_dia-de-san-valentin.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 14 de Febrero: Día de los Enamorados o Día de San Valentín
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En el siglo III un emperador romano prohibió el matriminio entre jóvenes. Un sacerdote llamado Valentín violó la prohibición, casándolos en secreto y fue ejecutado por ello el 14 de febrero del año 270.
                .card-action
                    a.blue-text.text-darken-4(href="https://historia.nationalgeographic.com.es/a/origen-historico-dia-san-valentin_15084") ver
                    a.blue-text.text-darken-4(href="https://www.bbc.com/mundo/noticias/2016/02/160213_quien_era_san_valentin_porque_asociamos_dia_amor_lv") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://1.bp.blogspot.com/-rUhIPp8UZPE/T3eb2iX0YXI/AAAAAAAAF5E/A6LhM1DW3JY/w1200-h630-p-k-no-nu/1970+11+23+ALALC.JPG")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 18 de Febrero: Se firma el tratado ALALC
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 1960 (Montevideo, Uruguay), se forma la ALALC (Asociación Latinoamericana de Libre Comercio) entre Argentina, Chile, México, Paraguay, Perú y Uruguay.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.felixpena.com.ar/index.php?contenido=wpapers&wpagno=documentos/1979-10-15-argentina-y-alalc") ver
                    a.blue-text.text-darken-4(href="https://www.iri.edu.ar/revistas/revista_dvd/revistas/cd%20revista%2039/historia/articulo.pdf") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://dolcevita.ec/wp-content/uploads/2019/12/download-1.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 23 de Febrero: Primera impresión de Gutemberg
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1455 Gutenberg realiza la primer impresión mecánica del mundo occidental; siendo La Biblia la obra seleccionada. Algunos ejemplares de dicha impresión se conservan hoy en museos.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.bbc.com/mundo/noticias-50832104") ver
                    a.blue-text.text-darken-4(href="https://bib.us.es/machado/fondo_antiguo/biblia") ver

    .col.s12.m12.l6
        .medium.card.red.lighten-4
            .card-image
                img.center(src="https://sanmartiniano.cultura.gob.ar/media/uploads/site-31/destacados/.thumbnails/gil-castro2.png/gil-castro2-1500x0-no-upscale.png")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 25 de Febrero: Nacimiento de José de San Martín
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1778 (Provincia de Corrientes) nace José de San Martín, militar que comandó los ejercitos rebeldes y logró la independencia de tres naciones.
                .card-action
                    a.blue-text.text-darken-4(href="https://es.wikipedia.org/wiki/Jos%C3%A9_de_San_Mart%C3%ADn") ver
                    a.blue-text.text-darken-4(href="https://sanmartiniano.cultura.gob.ar/noticia/jose-de-san-martin-libertador-de-america/") ver