.row#julio
    .col.s12.m6.l6
        .medium.card.blue.lighten-4
            .card-image
                img.center(src="https://www.argentina.gob.ar/sites/default/files/ea-9julio-2.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 09 de Julio: Día de la Indepandencia
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 1816:	El Congreso General Constituyente reunido en la ciudad de Tucumán declara la Independencia de las Provincias Unidas del Río de la Plata.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.argentina.gob.ar/noticias/9-de-julio-dia-de-la-independencia-argentina") ver
                    a.blue-text.text-darken-4(href="http://www.bnm.me.gov.ar/e-recursos/materiales200independencia/educ/primaria.php") ver

    .col.s12.m6.l6
        .medium.card.blue.lighten-4
            .card-image
                img.center(src="https://1.bp.blogspot.com/-rV3Rjd1hq8o/U8s9MHNqQmI/AAAAAAAAXnk/J3FegXdIpvE/s1600/feliz-dia-del-amigo.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 20 de Julio: Día del Amigo
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Tiene sus orígenes en la famosa llegada del hombre a la luna.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-del-amigo") ver