.row#mayo
    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://i.pinimg.com/564x/95/46/fa/9546fa2aa4d3ac5d0b20ba0a455894c4.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 01 de Mayo: Día del trabajador
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El Día Internacional de los Trabajadores o también conocido como el Día del Trabajo.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-internacional-trabajadores") ver

    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/0/03/Cruz_Roja.svg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 08 de Mayo: Día de la Cruz Roja Internacional
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El 8 de mayo se celebra el Día Mundial de la Cruz Roja y de la Media Luna Roja en conmemoración del nacimiento de Henry Dunant, el fundador de la Cruz Roja.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-mundial-cruz-roja-media-luna-roja") ver
                    a.blue-text.text-darken-4(href="https://www.cruzroja.org.ar/") ver
                    
    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://www.argentina.gob.ar/sites/default/files/himno.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 11 de Mayo: Día del Himno Nacional Argentino
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 1813 El Himno Nacional fue aprobado como la única canción de las Provincias Unidas del Río de la Plata. Fue escrito por Vicente López y Planes y la música por el maestro catalán Blas Parera.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.argentina.gob.ar/noticias/dia-del-himno-nacional-argentino") ver
    
    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://i.pinimg.com/564x/12/6a/a5/126aa522bd7d88b9331a3691b08e6dfd.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 15 de Mayo: Día Internacional de las Familias
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Fue declarado por la ONU en 1993
                .card-action
                    a.blue-text.text-darken-4(href="https://www.un.org/es/observances/international-day-of-families") ver
                    
    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://i.pinimg.com/564x/95/5d/88/955d884f21870a0ef97702696a2bb98e.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 18 de Mayo: Día de la Escarapela
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Día de la escarapela, instituida por un decreto del Primer Triunvirato el 18 de febrero de 1812.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.argentina.gob.ar/noticias/dia-de-la-escarapela") ver
                                    
    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://i.pinimg.com/564x/ad/af/b8/adafb8aae25c6537c59eee70d06a357c.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 25 de Mayo: Primer Gobierno Patrio
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1810 se forma el primer gobierno patrio.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.bnm.me.gov.ar/giga1/documentos/EL004683.pdf") ver

    .col.s12.m12.l6
        .medium.card.lime.lighten-3
            .card-image
                img.center(src="https://i.pinimg.com/564x/c7/64/39/c76439f45c9311ab75c1d2e19edd25ff.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 28 de Mayo: Día de la Maeatra Jardinera
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Día de la maestra jardinera. Se conmemora en esta fecha en recuerdo de la educadora Rosario Vera Peñaloza, que murió el 28 de mayo de 1950.
                .card-action
                    a.blue-text.text-darken-4(href="http://educacion.uncuyo.edu.ar/28-de-mayo-dia-de-los-jardines-de-infantes-y-de-la-maestra-jardinera#:~:text=El%2028%20de%20mayo%20se,pueblo%20de%20Atiles%2C%20La%20Rioja.") ver

