.row#noviembre
    .col.s12.m12.l6
        .medium.card.indigo.lighten-5
            .card-image
                img.center(src="https://volemos.nyc3.digitaloceanspaces.com/blog/wp-content/uploads/2019/03/Parques-Nacionales-del-centro-argentino.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 06 de Noviembre: Día de los parques nacionales
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En recuerdo del perito Francisco P. Moreno, explorador, geólogo y paleontólogo argentino, quien el 6 de noviembre de 1903 donó al Estado el actual parque Perito Moreno.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.volemos.com.ar/blog/parques-nacionales-del-centro-argentino/") ver  

    .col.s12.m12.l6
        .medium.card.indigo.lighten-5
            .card-image
                img.center(src="https://i.pinimg.com/564x/7c/04/12/7c0412d4ddcf217a5fee18b460b6d3ab.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 10 de Noviembre: Día de la Tradición
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En conmemoración al nacimiento del escritor y periodista José Hernández.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.mendoza.edu.ar/10-de-noviembre-qdia-de-la-tradicionq/") ver  
   
    .col.s12.m12.l6
        .medium.card.indigo.lighten-5
            .card-image
                img.center(src="https://www.argentina.gob.ar/sites/default/files/46217158_2233359363545281_98339405160251392_n.png")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 20 de Noviembre: Día de la Soberanía Nacional
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En recuerdo del episodio conocido como la Vuelta de Obligado ocurrido el 20 de noviembre de 1845.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.mendoza.edu.ar/20-de-noviembre-qdia-de-la-soberania-nacionalq/") ver  

    .col.s12.m12.l6
        .medium.card.indigo.lighten-5
            .card-image
                img.center(src="https://i.pinimg.com/564x/6e/e3/6b/6ee36b6f8e896bdc10f8d0e907bdc621.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 20 de Noviembre: Día del Niño y de los Derechos del Niño
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Nos recuerda que la niñez es una etapa única e irrepetible de la vida, que debe ser cuidada y guiada para que todos los niños crezcan en virtud y salud sin importar su origen o condición.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-universal-nino") ver  

    .col.s12.m12.l6
        .medium.card.indigo.lighten-5
            .card-image
                img.center(src="http://www.efemeridesargentina.com.ar/efemeridesargentina/imagenes/fotos/2549.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 22 de Noviembre: Día de la Música
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En recuerdo de Santa Cecilia; patrona de la música, quien murio en dicha fecha del año 180.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.musicaantigua.com/por-que-es-sta-cecilia-patrona-de-la-musica-y-de-los-musicos/") ver  
