.row#abril
    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://img.vixdata.io/pd/webp-large/es/sites/default/files/g/guerra_de_malvinas.png")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 02 de Abril: 
                    | Día del Veterano y de los Caídos en la Guerra las Malvinas
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El 2 de abril de 1982 fuerzas argentinas desembarcan en la capital de las Malvinas, y sin ocasionar bajas al pequeño destacamento británico ni a los malvinenses, reestablecen la soberanía argentina sobre las islas, dando inicio a la güerra.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.aposmalvinas.com.ar/historia.htm") ver


    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://www.cultura.gob.ar/media/uploads/ig_enb_tecnicatura.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 06 de Abril: 
                    | Se inaugura la escuela nacional de bibliotecarios
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta La Escuela Nacional de Bibliotecarios es una dependencia de capacitación técnica de la Biblioteca Nacional.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.cultura.gob.ar/la-escuela-nacional-de-bibliotecarios-lanza-su-tecnicatura-superior-en-9840/?s=03") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://www.uvtelevision.com.ec/site/images/DA_MUNDIAL_DE_LA_SALUD_FFOTO_INTRAMED.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 07 de Abril: 
                    | Día Mundial de la Salud
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En el año 1948, la Asamblea Mundial de la Salud proclamó el 7 de abril como Día Mundial de la Salud.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-mundial-salud") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/f/fd/RMS_Titanic_3.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 14 de Abril: 
                    | El Titanic choca contra un iceberg
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1912 El Titanic choca contra un iceberg. Mueren 1513 de las 2224 personas que viajaban.
                .card-action
                    a.blue-text.text-darken-4(href="https://es.wikipedia.org/wiki/RMS_Titanic") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://parroquiasanjosemaria.org/wp-content/uploads/2014/04/1717305_m.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") Jueves y Viernes Santo
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El Jueves Santo se recuerda la última cena de Cristo, para su posterior martirio y crucificción acahecida el Viernes Santo.
                .card-action
                    a.blue-text.text-darken-4(href="https://es.catholic.net/op/articulos/68968/cat/736/que-se-celebra-el-jueves-santo.html#modal") ver
                    a.blue-text.text-darken-4(href="https://es.catholic.net/op/articulos/18280/viernes-santo.html") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/0/05/Noel-coypel-the-resurrection-of-christ-1700.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") Domingo de Pascua
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Domingo de Resurrección de Cristo.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.es.catholic.net/op/articulos/56882/cat/444/la-resurreccion-de-jesus-.html") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://www.todo-argentina.net/historia-argentina/1811-1816/directorio-pueyrredon/imagenes/constitucion-1819.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 22 de Abril: Se Promulga la primera Constitución Argentina
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El 22 de abril de 1819, en Buenos Aires se promulga la primera constitución argentina.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.argentinahistorica.com.ar/temas.php?tema=6&titulo=16&subtitulo=55") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://www.el-carabobeno.com/wp-content/uploads/2017/10/lengua-espanola-696x527.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 23 de Abril: Día de la Lengua Española
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Día del idioma español en conmemoración de la muerte de Don Miguel de Cervantes Saavedra.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.un.org/es/observances/spanish-language-day") ver

    .col.s12.m12.l6
        .medium.card.orange.lighten-4
            .card-image
                img.center(src="https://www.ecestaticos.com/image/clipping/557/418/79776773aab795837282c7d4947abaf7/por-que-nos-parece-que-los-perros-sonrien-una-historia-de-30-000-anos.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 29 de Abril: Día del animal
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El 22 de abril de 1819, en Buenos Aires se promulga la primera constitución argentina.
                .card-action
                    a.blue-text.text-darken-4(href="http://www.argentinahistorica.com.ar/temas.php?tema=6&titulo=16&subtitulo=55") ver
