.row#diciembre
    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Red_Ribbon.svg/245px-Red_Ribbon.svg.png")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 01 de Diciembre: Día Mundial de la Lucha Contra el SIDA 
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En el día de la fecha, pero del año 1981 se diagnosticó el primer caso de dicha enfermedad; siendo padecida por millones de personas en el mundo. 
                .card-action
                    a.blue-text.text-darken-4(href="https://www.who.int/es/news-room/fact-sheets/detail/hiv-aids") ver

    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://image.freepik.com/foto-gratis/doctor-vista-frontal-sonriendo-espacio-copia_23-2148728410.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 04 de Diciembre: Día del Médico
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Carlos Finlay Barrés (1853) descubre el mosquito transmisor de la fiebre amarilla.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-internacional-medico") ver

    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://imagenes.catholic.net/imagenes_db/34c39a_inmaculada2.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 08 de diciembre: Día de la Inmaculada Concepción
            .card-stacked
                .card-content
                    p.parrafo-tarjeta El 8 de diciembre de 1854, el Papa Pío IX, promulgó un documento llamado "Ineffabilis Deus" en el que estableció que el alma de María, en el momento en que fue creada e infundida, estaba adornada con la gracia santificante.

                .card-action
                    a.blue-text.text-darken-4(href="https://www.aciprensa.com/noticias/video-feliz-solemnidad-de-la-inmaculada-concepcion-59150") ver

    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://studentsforliberty.org/eslibertad/wp-content/uploads/sites/4/2020/04/derechoshumanos-681x675.png")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 10 de Diciembre: Día Internacional de los Derechos Humanos
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En 1948, la Asamblea General de las Naciones Unidas adoptó la Declaración Universal de Derechos Humanos.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-derechos-humanos") ver

    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://www.diainternacionalde.com/imagenes/dias/12-24_nochebuena.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 24 de Diciembre: Nochebuena
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Noche de la víspera de Navidad.
                .card-action
                    a.blue-text.text-darken-4(href="https://es.catholic.net/op/articulos/4514/cat/306/nochebuena-nos-metimos-en-belen.html") ver

    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://i.pinimg.com/564x/21/71/0f/21710f4f6c571ab7e430db9595e06aeb.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 25 de Diciembre: Navidad
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Festividad del Nacimiento de Jesús.
                .card-action
                    a.blue-text.text-darken-4(href="http://es.catholic.net/op/articulos/12370/especial-de-navidad.html#modal") ver

    .col.s12.m12.l6
        .medium.card.yellow.lighten-4
            .card-image
                img.center(src="https://image.freepik.com/foto-gratis/copas-champan-luces-bokeh_23-2148761511.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 31 de Diciembre: Vispera de año nuevo
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Último día del año.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/nochevieja") ver