nav
    .nav-wrapper.grey.darken-3.z-depth-4
        .container
            a(href="#!").brand-logo Biblioteca &nbsp 255
            a(href="#" data-target="manu-mobile" class="sidenav-trigger"): i.material-icons menu
        ul.right.hide-on-med-and-down
            li
                a(href="/index.html").item Inicio
            li
                a(href="/catalogo.html").item Catálogo
            li
                a(href="/referencias.html").item Referencias
            li
                a(href="/galeria.html").item Galería
            li
                a(href="/videos.html").item Videos

ul(class="sidenav" id="manu-mobile")
    li
        a(href="/index.html").item Inicio
    li
        a(href="/catalogo.html").item Catálogo
    li
        a(href="/referencias.html").item Referencias
    li
        a(href="/galeria.html").item Galería
    li
        a(href="/videos.html").item Videos