.row#octubre
    .col.s12.m12.l6
        .medium.card.green.lighten-5
            .card-image
                img.center(src="https://dam.ngenespanol.com/wp-content/uploads/2019/10/aninmales-dia-mundial-770x395.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 04 de Octubre: Día Internacional del Animal
            .card-stacked
                .card-content 
                    p.parrafo-tarjeta 1929, la Organización Mundial de Protección Animal lo declara en conmemoración de San Francico de Asís, que concideraba que todos somos creaturas de Dios.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.ngenespanol.com/traveler/por-que-se-celebra-el-dia-mundial-de-los-animales-el-4-de-octubre/") ver  
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-mundial-de-los-animales") ver

    .col.s12.m12.l6
        .medium.card.green.lighten-5
            .card-image
                img.center(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Desembarco_de_Col%C3%B3n_de_Di%C3%B3scoro_Puebla.jpg/220px-Desembarco_de_Col%C3%B3n_de_Di%C3%B3scoro_Puebla.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 12 de Octubre: Llegada de Colón al continente Americano
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 1492 Colón llega por primera vez a América, en Argentina esta fecha se conoce como "Día de respeto a la diversidad cultural", ateriormente "Día de la raza".
                .card-action
                    a.blue-text.text-darken-4(href="https://www.google.com.ar/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjU0oLA_9LuAhWPIbkGHaHxAFYQFjABegQIAhAC&url=https%3A%2F%2Fdialnet.unirioja.es%2Fdescarga%2Farticulo%2F6939884.pdf&usg=AOvVaw2775a0zeW0rypNzembctOo") ver  
                    a.blue-text.text-darken-4(href="https://www.abc.es/historia/abci-leyenda-negra-desmontamos-cuatro-mentiras-historicas-lopez-obrador-contra-imperio-espanol-201903291251_noticia.html?ref=https:%2F%2Fwww.google.com.ar%2F") ver

    .col.s12.m12.l6
        .medium.card.green.lighten-5
            .card-image
                img.center(src="http://libreriaeixo.com/wp-content/uploads/2017/09/Biblioteca-de-Sarajevo-Gervasio-Sanchez.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 24 de Octubre: Día Internacional de las Bibliotecas
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta En homenaje a la Biblioteca Nacional de Sarajevo quedó totalmente en ruinas debido al conflicto bélico de los Balcanes.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.google.com.ar/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiE4dfmi9PuAhUVJ7kGHTZpAAsQFjAJegQIDRAC&url=https%3A%2F%2Fgredos.usal.es%2Fbitstream%2F10366%2F118612%2F1%2FEB12_N110_P10-15.pdf&usg=AOvVaw084f8uPbeYjhfrtlVV7yWy") ver  
                    a.blue-text.text-darken-4(href="https://soybibliotecario.blogspot.com/2018/10/la-historia-del-dia-internacional-biblioteca.html") ver

    .col.s12.m12.l6
        .medium.card.green.lighten-5
            .card-image
                img.center(src="https://static.misionesonline.news/wp-content/uploads/2020/10/18-de-octubre-D%C3%ADa-de-la-madre-730x517.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") Tercer domingo de Octubre: Día de la madre
            
            .card-stacked
                .card-content
                    p.parrafo-tarjeta Reconocimiento y gratitud a las mamás en su día.
                .card-action
                    a.blue-text.text-darken-4(href="https://www.diainternacionalde.com/ficha/dia-de-la-madre") ver  

