.row#septiembre
    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://comunadepiamonte.files.wordpress.com/2017/09/5_3.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 04 de Septiembre: día de la Secretaria
            .card-content
                p.parrafo-tarjeta En reconocimiento a la ardua labor realizada, se brinda reconocimiento a la secretaria en esta fecha desde 1942
            .card-action
                a.blue-text.text-darken-4(href="http://www.mendoza.edu.ar/4-de-setiembre-qdia-de-la-secretariaq/") ver

    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://i.pinimg.com/564x/dc/c9/35/dcc935277fcb9000104f9873b6ae38ef.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 11 de Septiembre: Día del Maestro
            .card-content
                p.parrafo-tarjeta En honor a Domingo Faustino Sarmiento, se conmemora la profesión de maestro en la Argentina
            .card-action
                a.blue-text.text-darken-4(href="https://www.biografiasyvidas.com/biografia/s/sarmiento.htm") ver

    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://i.pinimg.com/564x/44/44/4e/44444e5878b77c8f7bb45e9fd69d109b.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 13 de Septiembre: Día del Bibliotecario
            .card-content
                p.parrafo-tarjeta En recuerdo de la creación de la Biblioteca Pública de Buenos Aires (1810), hoy Biblioteca Nacional Mariano Moreno
            .card-action
                a.blue-text.text-darken-4(href="http://abgra.org.ar/institucional/dia-del-bibliotecario/") ver

    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://www.biografiasyvidas.com/biografia/e/fotos/estrada_jose_manuel.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 17 de Septiembre: día del Profesor
            .card-content
                p.parrafo-tarjeta En homenaje a José Manuel Estrada, profesor, historiador, orador, escritor, periodista y uno de los más destacados intelectuales de su época.
            .card-action
                a.blue-text.text-darken-4(href="https://www.biografiasyvidas.com/biografia/e/estrada.htm") ver

    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://nuevo.nogoya.gob.ar/wp-content/uploads/2020/09/estudiante-primavera.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 21 de Septiembre: Día de la Primavera
            .card-content
                p.parrafo-tarjeta Con la llegada de la primavera la naturaleza despiertade su letargo invernal, las flores y el verde vuelven a crecer. 
            .card-action
                a.blue-text.text-darken-4(href="http://www.mendoza.edu.ar/21-de-setiembre-qdia-de-la-primavera-q/") ver

    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://i.pinimg.com/564x/31/53/2d/31532df79156ec77399729f8d2414e70.jpg")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 21 de Septiembre: Día del Estudiante
            .card-content
                p.parrafo-tarjeta En recuerdo de la repatriación de los restos de Domingo Faustino Sarmiento en 1888 
            .card-action
                a.blue-text.text-darken-4(href="https://www.biografiasyvidas.com/biografia/s/sarmiento.htm") ver

    .col.s12.m12.l6
        .medium.card.brown.lighten-5
            .card-image
                img.center(src="https://www.argentina.gob.ar/sites/default/files/styles/jumbotron/public/directores.jpg?itok=9er4nOAu")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 28 de Septiembre: Día del Director
            .card-content
                p.parrafo-tarjeta En reconocimiento al trabajo, el esfuerzo y la dedicación de cada día... !Felíz Día del Director¡
            .card-action
                a.blue-text.text-darken-4(href="https://www.agendaescolar.com.ar/?p=504") ver